@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

.btnPrimary {
  background-color: var(--cyan) ;
  color: white;
}

.staggered{
  display: grid;
  grid-template-areas: 
  "a . ."
  "a b ."
  ". b c"
  ". . c";
  border: 2px solid red;
}

.areaA {
  grid-area: a;
}

.areaB {
  grid-area: b;
}

.areaC {
  grid-area: c;
}

